@import "tailwindcss";

:root {
  --background: #E8E8F9;
  --foreground: #171717;
  --primary: #524BE0;
  --secundary: #E8E8F9;
  --terciary: #39349C;
  --white: #ffffff;
  --white-txt: #ffffff;
  --font-body: 'Atkinson Hyperlegible', sans-serif;
}

/* Dark Mode */
.dark {
  --background: #111827;
  --foreground: #D1D5DB;
  --primary: #524CDD;
  --secundary: #1f2937;
  --primary-light: #7D7DF9;
  --border-dark: #374151;
  --background-dark: #111827;
  --white: #1f2937;
}

/* Tailwind Theme via @theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secundary: var(--secundary);
  --color-terciary: var(--terciary);
  --color-border-dark: var(--border-dark);
  --color-background-dark: var(--background-dark);
  --color-white: var(--white);
  --color-white-txt: var(--white-txt);
  --font-sans: var(--font-body);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  transition: background 0.3s, color 0.3s;
}