@import "tailwindcss";

:root {
  --background: #E8E8F9;
  --foreground: #171717;
  --primary: #524BE0;
  --secundary: #E8E8F9;
  --white: #ffffff;
  --font-body: 'Atkinson Hyperlegible', sans-serif;
}

/* Dark Mode */
.dark {
  --background: #171717;
  --foreground: #E8E8F9;
  --primary: #524BE0;
  --white: #ffffff;
}

/* Tailwind Theme via @theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secundary: var(--secundary);
  --color-white: var(--white);
  --font-sans: var(--font-body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  transition: background 0.3s, color 0.3s;
}
